/* .App {
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .button{
  border: 1px solid black;
  background: deepskyblue;
  width: 100px;
  padding: 20px
}
.button{
  background: orangered;
  width: 100px;
  padding: 20px
}
.button{
  background: royalblue;
  width: 100px;
  padding: 20px
}
.button{
  background: gold;
  width: 100px;
  padding: 20px
}


.inputField{
  border: 1px solid black;
  width: 108px;
  height: 13px;
  padding: 20px
} */

/* input[type="button"]{ 
  width: 100px; 
  background: #4CAF50; 
  border: 1px solid #222; 
  padding: 10px 20px; 
  color: black; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
} 
  
input[type="button"]:active{ 
    background: #ccc; 
} */